h1 {
    color: rgb(151, 2, 12);
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    background: #222335;
    border-radius: 8px;
    border: 3px ridge rgb(255, 5, 19);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 16px;
}